[submodule "external/Dynamic_Static.CMake"]
	path = external/Dynamic_Static.CMake
	url = https://github.com/DynamicStatic/Dynamic_Static.CMake.git
[submodule "external/Dynamic_Static.System"]
	path = external/Dynamic_Static.System
	url = https://github.com/DynamicStatic/Dynamic_Static.System.git
[submodule "external/Dynamic_Static.Core"]
	path = external/Dynamic_Static.Core
	url = https://github.com/DynamicStatic/Dynamic_Static.Core.git
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
